In [ ]:
print("Hello Neurons")

Hello Neurons

In [ ]:
print("greetings from iNeuron")
print("Good Evening")

greetings from iNeuron
Good Evening

In [ ]:
print('greetings from iNeuron')
print("Good Evening")

greetings from iNeuron
Good Evening

In [ ]:
print "Good Evening"

SyntaxError: ignored

In [ ]:
print("Good 
Evening")

SyntaxError: ignored

In [ ]:
"Good morning"

'Good morning'

In [ ]:
"Good morning"
print("HI")

HI

In [ ]:
print("""Good 
Evening""")

Good
Evening

In [ ]:
print("""India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[26] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.[27][28][29] Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.[30] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus Valley Civilisation of the third millennium BCE.[31] By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest.[32][33] Its evidence today is found in the hymns of the Rigveda. Preserved by a resolutely vigilant oral tradition, the Rigveda records the dawning of Hinduism in India.[34] The Dravidian languages of India were supplanted in the northern and western regions.[35] By 400 BCE, """)

India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[26] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.[27][28][29] Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.[30] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus Valley Civilisation of the third millennium BCE.[31] By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest.[32][33] Its evidence today is found in the hymns of the Rigveda. Preserved by a resolutely vigilant oral tradition, the Rigveda records the dawning of Hinduism in India.[34] The Dravidian languages of India were supplanted in the northern and western regions.[35] By 400 BCE,

In [ ]:
print("""Good 
Evening
from
India""")

Good
Evening
from
India

In [ ]:
# say hello to the students
print("Hi Students")

Hi Students

In [ ]:
# say hello to the students
# print("Hi Students")

In [ ]:
"""
Say Hi
To the students
"""

'\nSay Hi\nTo the students\n'

In [ ]:
"""
Say Hi
To the students
"""
print('Hi Students')

Hi Students

In [ ]:
# Say Hi
# To the students

print('Hi Students')

Hi Students

In [ ]:
# more exceptional cases in print statements

print("Hi my name is "Sunny" ")

SyntaxError: ignored

In [ ]:
print("Hi my name is \"Sunny\" ")

Hi my name is "Sunny"

In [ ]:
print('Hi my name is "Sunny" ')

Hi my name is "Sunny"

In [ ]:
print("Hi my name is 'Sunny' ")

Hi my name is 'Sunny'

In [ ]:
print("""Hi my name is "Sunny" """)

Hi my name is "Sunny"

In [ ]:
print("""Hi my name is "Sunny"!""")

Hi my name is "Sunny"!

In [ ]:
123 + 245 # Sum of 2 nos

368

In [ ]:
123 * 245

30135

In [ ]:
123 / 245

0.5020408163265306

In [ ]:
123**2 # power of 123 raised to 2

15129

In [ ]:
(-123)**2

15129

In [ ]:
123%2 # modulo operator which gives you reminder

1

In [ ]:
2%2

0

In [ ]:
3%2

1

In [ ]:
122%2

0

In [ ]:
123 * 245
print("Result")

Result

In [ ]:
print(123 * 245)
print("Result")

30135
Result

In [ ]:
print("123 * 245")
print("Result")

123 * 245
Result

In [ ]:
x = 10

In [ ]:
print(x)

10

In [ ]:
y = 20

In [ ]:
print(y)

20

In [ ]:
print(x + y)

30

In [ ]:
print(x / y)

0.5

In [ ]:
ten = 10
ten_number = 10
tenNumber = 10

In [ ]:
ten* = 10

SyntaxError: ignored

In [ ]:
ten%number = 10

SyntaxError: ignored

In [ ]:
ten = 10
ten_number = 10
ten%number = 10
tenNumber = 10

SyntaxError: ignored

In [ ]:
ten = 10
ten_number = 10
ten/number = 10
tenNumber = 10

SyntaxError: ignored

In [ ]:
ten10 = 10

In [ ]:
10ten = 10

SyntaxError: ignored

In [ ]:
__num = 10 # hidden variable

In [ ]:
Ten = 10

In [ ]:
ten number = 10

SyntaxError: ignored

In [ ]:
ten_number = 10

In [ ]:
_ = 10 # dummy variable

In [ ]:
a = 7

In [ ]:
type(a)

int

In [ ]:
b = 77777
type(b)

int

In [ ]:
pi = 3.14

In [ ]:
type(pi)

float

In [ ]:
pi = 22/7
pi

3.142857142857143

In [ ]:
type(pi)

float

In [ ]:
x = 2.0

type(x)

float

In [ ]:
x = 2

type(x)

int

In [ ]:
a = 2+3j
a

(2+3j)

In [ ]:
type(a)

complex

In [ ]:
a.real

2.0

In [ ]:
a.imag

3.0

In [ ]:
int a = 22;

In [ ]:
a = 22
type(a)
a = 22.2
type(a)

float

In [ ]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "Sunny" 
print(type(a))
a = 'Sunny' 
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
print(a)

Sunny

In [ ]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "22.2" 
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
"Day " + 1

TypeError: ignored

In [ ]:
22.2 + 1

23.2

In [ ]:

"Day " + "1"

'Day 1'

In [ ]:
22 + 22

44

In [ ]:
"22" + "22"

'2222'

In [ ]:
"22" + 22

TypeError: ignored

In [ ]:
22 + "22"

TypeError: ignored

In [ ]:
'22' + "22"

'2222'

In [ ]:
"Sunny " + "Chandra"

'Sunny Chandra'

In [ ]:
a = 1 # int data type
b = 1.2 # float data type
c = "Sunny" # string data type 
f = 1 + 2j # complex data type # rarely used

In [ ]:
print("Hi welcome to class of python language")

Hi welcome to class of python language

In [ ]:
print("Hi welcome to class of Java language")

Hi welcome to class of Java language

In [ ]:
language = "JavaScript"
print("Hi welcome to class of " + language + " language") # allowed but rarely used

Hi welcome to class of JavaScript language

In [ ]:
# f -> formatted string method
language = "JavaScript"
print(f"Hi welcome to class of {language} language") # current standard approach used in python

Hi welcome to class of JavaScript language

In [ ]:
language = "JavaScript"
print("Hi welcome to class of {} language".format(language)) # old way

Hi welcome to class of JavaScript language

In [ ]:
language = "JavaScript"
print("Hi welcome to class of {language} language")

Hi welcome to class of {language} language

In [ ]:
# f -> formatted string method
num = "first"
language = "Python"
print(f"Today is the {num} class of {language} language") # current standard approach used in python

Today is the first class of Python language

In [ ]:

num = "first"
language = "Python"
print("Today is the {} class of {} language".format(num, language))

Today is the first class of Python language

In [ ]:
num = "first"
language = "Python"
print("Today is the "+num+" class of "+language+" language")

Today is the first class of Python language

In [ ]:
a = 22
b = 34
c = a + b
print(f"the result sum of two nums a: {a} and b: {b} is ={c}")

the result sum of two nums a: 22 and b: 34 is =56

In [ ]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [ ]:
class_starts_at = 3 
you_came_at = 2
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: True

In [ ]:
class_starts_at = 3 # class start at 3 PM
you_came_at = 4 # you came to class at 4 PM
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: False

In [ ]:
# = means assignment
# == means comparing equality
is_raining = False
umbralla_available = False
go_to_college = is_raining == umbralla_available # Cop
go_to_college

True

In [ ]:
numA = 5
numB = 6
numA == numB

False

In [ ]:
numA = 5
numB = 5
numA == numB

True

In [ ]:
numA = 5
numB = 5
numA > numB

False

In [ ]:
numA = 5
numB = 5
numA >= numB

True

In [ ]:
"Sunny" + " Bhaveen " + "Chandra"

'Sunny Bhaveen Chandra'

In [ ]:
"My name is \"Sunny\" Chandra"

'My name is "Sunny" Chandra'

In [ ]:
print("\"")

"

In [ ]:
print(""" " """)

 "

In [ ]:
print(""" / """)

 /

In [ ]:
name = "Pallavi"
print(f"My name is: {name}")

My name is: Pallavi

In [ ]:
name = 1000
print(f"My name is: {name}")

My name is: 1000

In [ ]:
a=2
b = 3
c = 4
__result__ = a+b+c
print(f"sum = {__result__}")

sum = 9

In [ ]:
z = 2+5j

In [ ]:
z.real

2.0

In [ ]:
z.imag

5.0